<h1> SF Wiffle Ball </h1>

{{#each games}}
    <p>Date:  {{date}} {{time}}, Week {{gameId}}, {{innings}} Innings</p>
    {{#if teams}}
        <table class="table table-bordered table-hover table-striped">
          <tr>
            <th>Team</th>
            <th>Runs</th>
          </tr>
          {{#each teams}}
            <tr>
                <td>{{team}}
                <span style="font-size: .7em;color: #555555">Players: {{playersNames}}
                </span>
                </td>
                <td>{{runs}}</td>
            </tr>
          {{/each}}
        </table>
    {{else}}
      <p>No game: {{reason}}</p>
    {{/if}}
    <hr />
{{/each}}